<div>

  <iframe 
   *ngIf="urlPagoPrueba"
    id="iframePago"
    [src]="urlPagoPrueba"
    width="100%" height="300">
  </iframe>
  <ion-button color="light" (click)="callParent()">Regresar</ion-button>
  
</div>
