<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Pruebas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="ionContent">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pruebas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <app-pago-online
      (someEvent)="setMostrarIframe($event)"
      [urlPagoPrueba]=urlPagoPrueba
      [hidden]="!mostrarIframe"
    >
    </app-pago-online>
    <div [hidden]="mostrarIframe">
      <section>
        <br />
        <br />
        <div *ngIf="(!!dominio)">
          <b>Dominio: <br />{{dominio}}</b>
        </div>
        <br />
        <br />

        <b>Pruebas de APPConfig</b>
        <br />
        <div>
          <ion-button color="success" (click)="getAppConfig(1, true)"
            >Exitosa</ion-button
          >
          <ion-button color="warning" (click)="getAppConfig(2, true)"
            >Fallida A</ion-button
          >
          <ion-button color="warning" (click)="getAppConfig(3, true)"
            >Fallida B</ion-button
          >
        </div>
      </section>

      <section>
        <b>Pruebas de ConsultaLiqui</b>
        <br />
        <div>
          <ion-button color="success" (click)="getConsultaLiqui(1)"
            >Exitosa</ion-button
          >
          <ion-button color="warning" (click)="getConsultaLiqui(2)"
            >Fallida A</ion-button
          >
          <ion-button color="warning" (click)="getConsultaLiqui(3)"
            >Fallida B</ion-button
          >
          <ion-button color="danger" (click)="getConsultaLiqui(4)"
            >Fallida C</ion-button
          >
        </div>
      </section>

      <section>
        <b>Pruebas de AppPQRS</b>
        <br />
        <div>
          <ion-button color="success" (click)="getAppPQRS(1)"
            >Exitosa</ion-button
          >
          <ion-button color="warning" (click)="getAppPQRS(2)"
            >Fallida A</ion-button
          >
          <ion-button color="warning" (click)="getAppPQRS(3)"
            >Fallida B</ion-button
          >
          <ion-button color="danger" (click)="getAppPQRS(4)"
            >Fallida C</ion-button
          >
        </div>
      </section>
      <section>
        <b>Cambio de servidor:</b>
        <br />
        <div>
          <ion-button
            color="primary"
            (click)='cambiarDominio("https://dev-gevir.paginaweb2.com")'
            >Desarrollo</ion-button
          >
          <ion-button
            color="dark"
            (click)='cambiarDominio("https://gevir.cundinamarca.gov.co")'
            >Producción</ion-button
          >

          <ion-button
          color="light"
          (click)='setMostrarIframe(true)'
          >Mostrar iframe de Pago</ion-button
        >
        </div>
      </section>
    </div>
  </div>
</ion-content>
